- if local_assigns[:screenshot]

  -# hide for nonspammers
  - if spam_shield?(screenshot)

    .screenshot
      = link_to image_tag(screenshot.screenshot.url(:thumb), :alt => "Screenshot for homebrew: #{screenshot.project.title}"), screenshot.screenshot.url, :id => dom_id(screenshot), :class => "lightview", :rel => "gallery[screens]", :target => "_blank"

      - if screenshot.owned_by?(current_or_anon_user)
        -#.switch-default
        .delete
          = link_to_image("approve.png", set_project_screenshot_url(screenshot.project, screenshot),{:alt => "Approve homebrew screenshot for #{screenshot.project.title}" }, :method => :put, :confirm => "This will set your default page to this image")
          = delete_link image_tag("delete_thumbnail.png", :alt => "Delete homebrew thumbnail for #{screenshot.project.title}"), |
                             project_screenshot_url(screenshot.project, screenshot), |
                             :title => "Delete Screenshot" |